/* Media Queries Starts Here */
/* 1 rem  / 1 em = 16px */

/* Breakpoint 1 : For Small Laptops
Below 1344px */

@media (max-width: 84em) {
  .hero-container {
    max-width: 120rem;
  }

  .primary-heading {
    font-size: 4.5rem;
  }

  .delivered-text {
    font-size: 1.6rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Breakpoint 2 : For Landscape Tablets
Below 1200px */

@media (max-width: 75em) {
  html {
    /* 1 rem = 9px */
    font-size: 56.25%;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .tertiary-heading {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero-container {
    gap: 4.8rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .testimonials-container {
    padding: 6.4rem 3.2rem;
  }
}

/* Breakpoint 3 : For Tablets
Below 944px */

@media (max-width: 59em) {
  html {
    /* 1 rem = 8px */
    font-size: 50%;
  }

  .hero-container {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .logo-container img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 6.2rem;
  }

  .meal-content {
    padding: 3.2rem;
    padding-top: 2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta-grid {
    grid-template-columns: 2fr 3fr;
  }

  /* Mobile Nav */

  .btn-mobile-nav {
    display: block;
  }

  .header-nav {
    background-color: #fdf2e9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;

    /* To centerup the Whole Section on ViewPort */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 1: Hide it Visually  */
    opacity: 0;

    /* 2: Hide from Tabs and Keyboards */
    pointer-events: none;

    /* 3: Hide from Screen Readers */
    visibility: hidden;
  }

  .nav-open .header-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-links:link,
  .nav-links:visited {
    font-size: 3rem;
  }
}

/* Breakpoint 4 : For Small Tablets
Below 704px */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diet {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .secondary-heading {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .footer-grid-cols {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .contact-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* Breakpoint 5 : For Mobile Phones
Below 544px */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn:link,
  .btn:visited {
    padding: 2rem 0.6rem !important ;
  }
  .hero-container {
    padding: 0 3.2rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero-img {
    width: 80%;
  }

  .logo-container img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }

  .cta-grid {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 35rem;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
}

/* Breakpoint 6 : For Mobile Phones
Below 400px */

@media (max-width: 25em) {
  .hero-img {
    width: 65%;
  }

  .section-hero {
    padding: 0 0 6.4rem 0;
  }

  .section-featured {
    padding: 4.8rem 0 0 0;
  }

  .section-how {
    padding: 9.6rem 0 4.8rem 0;
  }

  .logo-container img {
    height: 1.4rem;

  }

  .meals {
    justify-self: center;
    width: 80%;

  }

  .pricing-plan {
    justify-self: center;
    width: 90%;

  }

  .section-footer {
    border: none;
    padding: 0 0 9.6rem 0;
  }

}
